<p id="notice"><%= notice %></p>

<p>
  <strong>Заголовок:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Аннотация:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Картинка:</strong>
  <br />
  <%= image_tag @product.image_url, width:200 %>
  <br />
  <%= @product.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Редактировать', edit_product_path(@product) %> |
<%= link_to 'Назад', products_path %>
